<div id="data-table">
    <table id="order">
        <tr>
            <th>Publisher Name</th>
            <th>Address</th>
            <th>Phone number</th>
        </tr>
        <tr class="product" *ngFor="let item of publisherList;">
            <td><span>{{item.name}}</span></td>
            <td><span>{{item.address}}</span></td>
            <td><span>{{item.phone}}</span></td>
        </tr>
    </table>
    <input type="button" value="Continue Shopping" class="btn1" (click)="backHome()">
</div>