<body>
    <div id="data-table">
        <table id="order">
            <tr>
                <th>Order Id</th>
                <th>ISBN</th>
                <th># Of Copies</th>
                <th>Confirmation</th>
            </tr>
            <tr class="product" *ngFor="let item of ordersList; let indexOfelement=index;">
                <td><span>{{item.orderId}}</span></td>
                <td><span>{{item.isbn}}</span></td>
                <td><span>{{item.noOfCopies}}</span></td>
                <td><span><button class="btn" (click)="confirm($event, item.orderId)">Confirm</button></span></td>
            </tr>
        </table>
    </div>
</body>